@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Tilgang nektet";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Du har ikke tilgang til denne ressursen. Ta kontakt med en administrator.</p>
</header>
